<% unless @summary.nil? %>
	<div class="row" style="margin-top: 50px">
	<div class="col s10 offset-s1">
	<h5><%=@content.name%></h5>
	<p><%=@summary%></p>
	<%@images.each do |image| %>
		<img src="image" style="width:950px;height:500px;">
	<%end%>
	<p>Material extra: <p>
	<ul>
		<% @ext_links.each do |link| %>
			<li><a href=<%=link%>> <%=link%> </a></li>
		<%end%>
	<ul>
	<a href=<%=@font.to_s%>> Fuente</a>

	</div>

	</div>

<%else%>

	<div class="row" style="margin-top: 50px">
	<div class="col s10 offset-s1">
	<p>Lo sentimos, pero la busqueda no arrojó contenidos</p>
	</div>
	</div>
<%end%>


<script type="text/javascript">
	alert("Materia agregada con éxito")

</script>