<div class="row">
  <div class="col s10 offset-s1">
    <div class="card">
      <div class="card-image">
        <%= image_tag("NN.svg", class: "menu-icon hide-on-med-and-down")%>
        <br>
        <div class="row">
        	<center>
        		<span class="card-title col s10 offset-s1">
        			<%= best_in_place current_user, :name, :as => :input, :place_holder => "Y dinos ¿Cómo te llamas?!", title: "haz click en mí!" %>       
        		</span>
        	</center>
        </div>

      </div>
      <div class="card-content">
      	<div class="row">
	        <p><%=best_in_place current_user, :description, as: :textarea, place_holder: "Agrega una pequeña descripción (sé creativo)" %>
	        </p>

	      </div>
          <%unless current_user.learning_style.nil? %>
            <p>Tu estilo de aprendizaje es: <%=current_user.learning_style.titleize%></p>

          <%end%>        
      </div>
      <div class="card-action">
        <%=link_to( :controller => 'surveys', :action => 'answer') do%>
        	<p><%=current_user.learning_style.nil? ? "No olvides responder la encuesta, así podremos saber cómo ayudarte de mejor manera" : "Volver a responder encuesta"%></p>
        <%end%> 
      </div>
    </div>
  </div>
</div>
      