<div class="row">
  <div class="row">
    <h4 class="col s10 offset-s1">Cursos</h4>

    <table class="highlight col s10 offset-s1">
      <thead>
        <tr>
            <th>Nombre</th>
            <th>Encargado del curso</th>
            <th>Creado el</th>
        </tr>
      </thead>

      <tbody>
        <%@courses.each do |course|%>
          <tr>
            <td><%=course.name%></td>
            <td><%=course.in_charge.name%></td>
            <td><%=course.created_at.strftime("%d-%m-%Y")%></td>
            <td>
              <%=link_to( controller: 'courses', action: 'show', id: course.id) do%>
                <i class="edit-icons material-icons tiny">mode_edit</i>
              <%end%>
            </td>
          </tr>
        <%end%>

      </tbody>
    </table>
  </div>
  <br>

  <%= link_to new_course_path, method: :get do %>
    <div class= "btn waves-effect waves-ripple col s4 offset-s4">Crear curso </div>
  <%end%>  
</div>