<div class="row">
  <div class="row">
    <h4 class="col s10 offset-s1">Cursos</h4>

    <table class="highlight col s10 offset-s1">
      <thead>
        <tr>
            <th>Nombre</th>
            <th>Encargado del curso</th>
            <th>Creado el</th>
        </tr>
      </thead>

      <tbody>
        <%@courses.each do |course|%>
          <tr>
            <td><%=course.name%></td>
            <td><%=course.in_charge.name%></td>
            <td><%=course.created_at.strftime("%d-%m-%Y")%></td>
            <td>
              <%=link_to( controller: 'courses', action: 'show_to_student', id: course.id) do%>
                <i class="edit-icons material-icons tiny">search</i>
              <%end%>
            </td>
          </tr>
        <%end%>

      </tbody>
    </table>
  </div>

  <div class="row">
    <h4 class="col s10 offset-s1">Contenidos</h4>

    <table class="highlight col s10 offset-s1">
      <thead>
        <tr>
            <th>Nombre</th>
            <th>Curso</th>
        </tr>
      </thead>

      <tbody>
        <%@contents.each do |content|%>
          <tr>
            <td><%=content.name%></td>
            <td><%=content.course.name%></td>
            <td>
              <%=link_to( controller: 'contents', action: 'show_to_student', id: content.course.id, content_id: content.id) do%>
                <i class="edit-icons material-icons tiny">search</i>
              <%end%>
            </td>
          </tr>
        <%end%>

      </tbody>
    </table>
  </div>

</div>