<div class="row">
  <div class="col s6 offset-s1">
    <%= form_tag search_courses_path, :method => 'get' do %>
      <p>
        <%= text_field_tag :search, params[:search], placeholder: "Buscar curso o contenido"%>
        <%= submit_tag "Buscar", :name => nil %>
      </p>
  <% end %>
  </div>
</div>

<div class="row">
 
  <div class="row">
    <h4 class="col s10 offset-s1">Cursos</h4>

    <table class="highlight col s10 offset-s1" style="-webkit-max-logical-height: 10em; overflow-y: scroll;">
      <thead>
        <tr>
            <th>Nombre</th>
            <th>Correo del encargado</th>
        </tr>
      </thead>

      <tbody>
        <%@courses.each do |course|%>
          <tr>
            <td><%=course.name%></td>
            <td><%=course.in_charge.email%></td>
            <td>
              <%=link_to( controller: 'courses', action: 'show_to_student', id: course.id) do%>
                <i class="edit-icons material-icons tiny">search</i>
              <%end%>
            </td>
          </tr>
        <%end%>

      </tbody>
    </table>
  </div>  

</div>

